<?xml version="1.0"?>
<config>
    <modules>
        <On4u_Gestitrans>
            <version>0.2.5</version>
        </On4u_Gestitrans>
    </modules>
    <global>
        <!--<sales>
            <quote>
                <address>
                    <shedule_morning_from />
                </address>
            </quote>
        </sales>
        <fieldset>
            <sales_convert_quote_address>
                <shedule_morning_from>
                    <to_order_address>*</to_order_address>
                </shedule_morning_from>
            </sales_convert_quote_address>
            <sales_copy_order_shipping_address>
                <shedule_morning_from><to_order>*</to_order></shedule_morning_from>
            </sales_copy_order_shipping_address>
        </fieldset>-->
        <events>
            <sales_quote_save_before>
                <observers>
                    <save_before>
                        <type>singleton</type>
                        <class>On4u_Gestitrans_Model_Observer</class>
                        <method>saveQuoteBefore</method>
                    </save_before>
                </observers>
            </sales_quote_save_before>
            <sales_order_save_after>
                <observers>
                    <module_order_save_after>
                        <type>singleton</type>
                        <class>On4u_Gestitrans_Model_Observer</class>
                        <method>saveOrderAfter</method>
                    </module_order_save_after>
                </observers>
            </sales_order_save_after>
        </events>
        <models>
            <Gestitrans>
                <class>On4u_Gestitrans_Model</class>
            </Gestitrans>
        </models>
        <resources>
            <gestitrans_setup>
                <setup>
                    <module>On4u_Gestitrans</module>
                    <class>On4u_Gestitrans_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </gestitrans_setup>
        </resources>
        <blocks>
           <Gestitrans>
                <class>On4u_Gestitrans_Block</class>
            </Gestitrans>
            <checkout>
                <rewrite>
                    <onepage_shipping_method_available>On4u_Gestitrans_Block_Onepage_Shipping_Method_Available</onepage_shipping_method_available>
                </rewrite>
            </checkout>
            <adminhtml>
                <rewrite>
                    <sales_order_view>On4u_Gestitrans_Block_Adminhtml_Sales_Order_View</sales_order_view>
                </rewrite>
            </adminhtml>
        </blocks>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <on4u_gestitrans before="Mage_Adminhtml">On4u_Gestitrans_Adminhtml</on4u_gestitrans>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <on4u_gestitrans>
                    <file>on4u_gestitrans.xml</file>
                </on4u_gestitrans>
            </updates>
        </layout>
        <translate>
            <modules>
                <on4u_gestitrans>
                    <files>
                        <default>On4u_Gestitrans.csv</default>
                    </files>
                </on4u_gestitrans>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <routers>
            <gestitrans>
                <use>standard</use>
                <args>
                    <module>On4u_Gestitrans</module>
                    <frontName>gestitrans</frontName>
                </args>
            </gestitrans>
        </routers>
        <layout>
            <updates>
                <on4u_gestitrans>
                    <file>on4u_gestitrans.xml</file>
                </on4u_gestitrans>
            </updates>
        </layout>
        <translate>
            <modules>
                <on4u_gestitrans>
                    <files>
                        <default>On4u_Gestitrans.csv</default>
                    </files>
                </on4u_gestitrans>
            </modules>
        </translate>
    </frontend>
    <default>
        <carriers>
            <Gestitrans>
                <active>0</active>
                <title>Gestitrans</title>
                <model>Gestitrans/On4u_Gestitrans</model>
            </Gestitrans>
        </carriers>
    </default>
</config>

